{% extends "base.html" %}

{% block contents %}
<div class="row mt-5"> <!-- mt-5(여백 추가) -->
    <div class="col-12 text-center"> <!-- text-center(가운데 정렬) -->
        <h1>로그인</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12r">
        {{ error }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
            <!-- 꼭 form 안에 적어야 한다. django가 알아서 form에 필요한 형태로 암호환된 정보들을 넣어준다.-->
            {% csrf_token %}
            <!-- {{ form.as_p}} -->
            <!-- {{ form.as_table }} -->
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">
            </div>
            {% if field.errors %}
            <span style="color: red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
{% endblock %}